@import "../../styles/_breakpoints";

#aboutus {
  position: relative;
  background-color: #32373c;
  color: #fff;
  min-height: 100vh;

  &::before {
    position: absolute;
    content: "";
    background: url(../../assets/corner.png) no-repeat;
    background-size: 100% 100%;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &::after {
    position: absolute;
    content: url(../../assets/logo.png);
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 20%;
    margin: auto 0;
  }

  .aboutus-title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 40px;
      line-height: 50px;
      font-family: "Abril Fatface";
      text-align: left;
      font-weight: normal;
      @include break(lg) {
        font-size: 48px;
        margin: 50px auto 40px 25px;
      }
    }
  }
  
  .aboutus-paragraph-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    @include break(md) {
      flex-direction: row;
    }
  
    .aboutus-paragraph {
      position: relative;
      width: 300px;
      height: 130px;
      margin: 20px 0;
      text-align: left;
      color: #e5e5e5;
      font-size: 20px;
      line-height: 28px;
      &::after {
        position: absolute;
        content: "";
        display: block;
        bottom: 0;
        left: 44%;
        width: 12%;
        height: 6px;
        background-color: #e5e5e5;
      }
      @include break(md) {
        margin: 20px 25px;
      }
      @include break(xl) {
        font-size: 30px;
        line-height: 35px;
        width: 350px;
        height: 190px;
        margin: 30px 25px;
      }
    }
  }
}


