/* -------------------------- */
/* |        pointer         | */
/* -------------------------- */
#adviser {
    width: 100%;
    min-height: 100vh;
    background: url(../../assets/world-miniMap.svg) center center fixed no-repeat ;
}
#country {
    display: block;
    width: fit-content;
    cursor: default;
    text-align: center;
}
#country .point {
    position: relative;
    cursor: pointer;
    z-index: 1;
}
#country p{
    margin: 0;
}
/* -------------------------- */
/* |         card           | */
/* -------------------------- */
.close {
    position: absolute;
    right: 0;
    padding: 0px 8px;
    color: #dddddd;
    font-size: 28px;
    font-weight: bold;
    user-select: none;
}

.card-open > .close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.card-contents {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    margin-top: 15%;
    margin-left: 5%;
    transition: .4s;
    border: 2px solid #dddddd;
}
.card-open {
    visibility: visible;
    opacity: 1;
    transition: .4s;
    z-index: 1;
}
/*--------------------------*/
/*|        vector          |*/
/*--------------------------*/
#country .vector {
    user-select: none;
}
#adviser .vector1{
    position: absolute;
    top: 22em;
    left: 23em;
}
#adviser .vector2 {
    position: absolute;
    top: 19.7em;
    left: 14em;
}
#adviser .vector3 {
    position: absolute;
    top: 23.5em;
    left: 15em;
}
/* #adviser .vector4 {
    position: absolute;
    top: 23em;
    left: 20em;
} */
/* #adviser .vector5 {
    position: absolute;
    top: 50%;
    left: 25%;
} */
#adviser .vector6 {
    position: absolute;
    top: 26.5em;
    left: 19em;
}
/* #adviser .vector7 {
    position: absolute;
    top: 50%;
    left: 25%;
} */