@import '../../styles/breakpoints';

section#advisory-network {
  position: relative;

  #map {
      display: none;
      cursor: default;
      text-align: center;
      height: 90vh;
      width: 100%;

      @include break(md) {
        display: block;
      }

      .point {
          position: relative;
          cursor: pointer;
          z-index: 0;
      }

      h1 {
        font-family: "Abril Fatface";
        font-weight: normal;
        font-size: 3em;
        color: white;
        position: absolute;
        left: 50%;
        margin-top: 70px;
        transform: translateX(-50%);
      }

      p {
          margin: 0;
      }

      polygon, path {
        fill: rgba(176, 205, 235, 0.2);
      }

      path.city:hover, path.pointer:hover {
        cursor: pointer;
      }

      path.city {
        fill: white;
      }

      path.pointer {
        fill: #59CAEF;
      }
  }
  /* -------------------------- */
  /* |         card           | */
  /* -------------------------- */
  #card-component {
    position: relative;
    transform: translateY(15em);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;

    .close {
        position: absolute;
        right: 0;
        padding: 0px 8px;
        color: #dddddd;
        font-size: 28px;
        font-weight: bold;
        user-select: none;
        z-index: 1;
    }

    .card-contents {
      min-width: calc(49em/2);
      max-width: 49em;
      min-height: 160px;
      display: none;
      position: absolute;
      border: 2px solid #dddddd;
    }
    .card-open {
        display: block;
        background-color: white;
    }
    .card-open > .close:hover,.close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}
/*--------------------------*/
/*|        slider          |*/
/*--------------------------*/
.slick-prev:before, .slick-next:before {
    color: black;

    @include break(md) {
      display: none;
    }

    @include break(mdlg) {
      display: block;
    }
}

/*--------------------------*/
/*|        vector          |*/
/*--------------------------*/
#map .vector {
    user-select: none;
}
/*--------------------------*/
/*|       drop-down         |*/
/*--------------------------*/
#drop-down {
  text-align: center;
  background-color: #BFD9E3;
  padding-bottom: 5%;

  @include break(md){
    display: none;
  }

  h1 {
    margin: 0;
    padding: 30px;
    font-family: "Abril Fatface";
    font-size: 40px;
  }

  #country{
    width: 26em;
    padding: 8px 16px;
  }


  .select-contents {
    display: none;
    text-align: center;
  }

  .selected {
    display: block;
  }
  .dropCard {
    margin: 15px auto;
  }
  .dropCard > #Card {
    width: 20em;
    height: 13em;
    border: 1px solid black;
    box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.5);
  }
  .wrap-select {

    width: fit-content;
    margin: auto;
  }

}
}
