/* -------------------------- */
/* |      pointer & img     | */
/* -------------------------- */
#adviser {
    /* width: 100%; */
    height: 100%;
}
#country {
    display: block;
    cursor: default;
    text-align: center;
}
#country .point {
    position: relative;
    cursor: pointer;
    z-index: 0;
}
#country p{
    margin: 0;
}
/* -------------------------- */
/* |         card           | */
/* -------------------------- */
.close {
    position: sticky;
    right: 0;
    /* transform: translateX(26.5em); */
    padding: 0px 8px;
    color: #dddddd;
    font-size: 28px;
    font-weight: bold;
    user-select: none;
}
.card-component {
    position: absolute;
    left: 25%;
    top: 25%;
    width: 51.05em;
    
}
.card-contents {
    min-width: 50%;
    max-width: 100%;
    overflow-x: auto;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: .4s;
    border: 2px solid #dddddd;
}
.card-open {
    visibility: visible;
    opacity: 1;
    transition: .4s;
    background-color: white;
    z-index: 2;
}
.card-open > .close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*--------------------------*/
/*|        vector          |*/
/*--------------------------*/
#country .vector {
    user-select: none;
}
#adviser .vector1{
    position: absolute;
    top: 22.5em;
    left: 40.5em;
}
#adviser .vector2 {
    position: absolute;
    top: 24em;
    left: 28em;
}
#adviser .vector3 {
    position: absolute;
    top: 28.5em;
    left: 29.5em;
}
#adviser .vector4 {
    position: absolute;
    top: 26.5em;
    left: 42em;
}
#adviser .vector5 {
    position: absolute;
    top: 28em;
    left: 37em;
}
#adviser .vector6 {
    position: absolute;
    top: 31.5em;
    left: 34.5em;
}
#adviser .vector7 {
    position: absolute;
    top: 23em;
    left: 70em;
}