.ourTeam-container {
  min-height: 100vh;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0;
    font-family: "Abril Fatface";
    font-weight: normal;
  }
}

.ourTeam-content {
  width: 90%;
  height: 357px;
  font-size: 14px;
  background: #fff;
  position: relative;
  z-index: 2;
  margin: 15px auto;
}

.ourTeam-img {
  height: 100%;
  width: 100%;
}

.outTeam-content-section {
  margin: 10px;
  display: inline-block;
  position: absolute;
}

.ourTeam-title {
  font-size: 48px;
  text-align: center;
  padding-top: 100px;
}

.ourTeam-img-section {
  width: 35%;
  display: inline-block;
  height: 100%;
}

.ourTeam-name {
  font-size: 36px;
  margin: 0;
}
.ourTeam-location {
  font-size: 24px;
}

.ourTeam-paragraph {
}

.ourTeam-bluebg {
  position: absolute;
  background: #068DC2;
  height: 100%;
  width: calc(5%;
  z-index: 1;
}
