.grid-container {
    margin-top: 15px;
    display: grid;
    /* grid-gap: 25px; */
    transition: all 0.5s ease;

    justify-content: space-between;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, 450px);
    height: auto;
    max-height: 190px;
    overflow: hidden;

    transition: 0.5s ease;
}

.show {
    max-height: 500px;
}
