#press {
    position: relative;
    min-height: 100vh;
    padding-bottom: 20px;
}

.cover {
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    height: calc(100% - 300px);
    width: 100%;
    z-index: -1;
    background-color: #32373c;
}

.grid-container {
    display: grid;
    grid-gap: 35px;
    justify-content: space-between;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, 380px);
    overflow: hidden;
    transition: 0.5s ease;
}

.initial {
    margin-bottom: 35px;
}