#Card {
    background-color: #a9a9aa;
    width: 380px;
    padding: 5px;
    display: table-cell;
    /* vertical-align: middle */
}
#Card > p {
    font-size: small;
}
#Card img {
    vertical-align: top;
    width: 8em;
}
.img, span{
    text-align: left;
    padding: 8px;
    display: table-cell;
    /* vertical-align: middle; */
}
