#Card {
    background-color: #fff;
    min-width: 380px;
    max-width: 380px;
    padding: 5px;
    display: table-cell;
    /* vertical-align: middle */
}
#Card > span > p {
    color: #585858;
    font-size: 12px;
    font-weight: 500;
}
#Card img {
    vertical-align: top;
    width: 8em;
}
.img, span{
    text-align: left;
    padding: 8px;
    display: table-cell;
    font-weight: bold;
    /* vertical-align: middle; */
}
span::selection, p::selection {
    background-color: lightskyblue;
}
