#Card > span > p {
    color: #585858;
    font-size: 12px;
    font-weight: 500;
}

#Card {
  background-color: #fff;
  min-width: 23.75em;
  max-width: 23.75em;
  padding: 5px;
  margin: 10px;
  display: table-cell;

  img {
    vertical-align: top;
    width: 8em;
  }

  .img, span{
      text-align: left;
      padding: 8px;
      display: table-cell;
      font-weight: bold;
      /* vertical-align: middle; */
  }
}


span::selection, p::selection {
    background-color: lightskyblue;
}
