body {
    margin: 0;
    padding: 0;
  }
  .App {
    font-family: sans-serif;
    text-align: center;
  }.contactArea {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .container {
    width: 90%;
    margin-left: 8%;
  }
  
  #contactTitle {
    width: 100%;
    text-align: center;
    color: #068dc2;
    font: 48px Roboto;
    font-weight: bold;
    line-height: 56px;
  }
  #contactDesc {
    color: #59caef;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  
    margin-bottom: 50px;
  }
  #contactPersonal {
    font-family: Roboto;
    font-style: normal;
    font-weight: 1000;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  #formpart {
    margin-top: 100px;
  }
  #name,
  #email,
  #messages {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #068dc2;
  }
  #info1,
  #info2 {
    padding: 1px 67px 1px 20px;
    height: 40px;
    width: 400px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    border-color: #068dc2;
  }
  
  #message {
    float: right;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    border-style: none;
    margin-top: -190px;
  }
  #messagetext {
    font-size: 17px;
    padding: 12px 20px;
    border-color: #068dc2;
  }
  
  #userlogo {
    position: absolute;
    margin-top: 5px;
    margin-left: -40px;
  }
  #messagelogo {
    position: absolute;
    margin-left: -40px;
    margin-top: 123px;
  }
  #messageArea {
    float: right;
    margin-right: 100px;
    margin-top: -195px;
  }
  #submit {
    color: white;
    float: right;
    margin-right: -200px;
    margin-top: 50px;
    height: 68px;
    width: 406px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    border-radius: 5px;
    background-color: #068dc2;
  }
  #submit:hover {
    cursor: pointer;
  }
  #thanks,
  #error {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 37px;
  }
  #offices {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    clear: both;
    margin-top: 250px;
  }
  .containerMaps {
    width: 90%;
    background-color: #005484;
    margin-top: 80px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .App {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .map1,
  .map2,
  .map3 {
    width: 400px;
    height: 400px;
    frameborder: 0 style= "border:0;" allowfullscreen= "";
  }
  
  #copyright {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-top: 100px;
    color: #59caef;
  }