.articles-toggler-container {
    display: flex;
    justify-content: center;
}

.sticky {
    position: sticky;
    bottom: 20px;
}

.absolute {
    position: absolute;
    top: 190px;
    left: 0;
    right: 0;
}

.toggler {
    display: flex;
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    padding: 0 10px 0 0;
    border: 1px solid #000;
    background-color: #fff;
}

.arrow {
    display: inline-block;
    margin-right: 5px;
    transition: 0.5s;
    svg {
        height: 20px;
    }
}

.up {
    transform: rotateX(-180deg);
}