.header-container {
    margin: 40px 0;
}

.header-container h1 {
    display: inline-block;
    margin: 0;
    font-size: 40px;
}

.left {
    text-align: left;
    margin: 0 auto 0 50px;
}

.center {
    text-align: center;
}

.large {
    font-size: 50px;
}

.underline {
    border-bottom: 3px solid blue;
}