div {
  position: relative;
}

ul {
  display: flex;
  padding: 10px;
  margin: 0;
  flex-direction: row;
  list-style: none;
  background-color: #BFE5F2;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

ul li {
  margin-right: 20px;
}

ul li:hover {
  cursor: pointer;
}

li.hamburger, ul.dropdown {
  display: none;
}

li.hamburger > span {
  background-color: black;
  margin: 2px 0;
  width: 30px;
  height: 6px;
  display: inherit;
}

li.side ul {
  padding: 0;
  background-color: rgba(0,0,0,0);
}

li.main {
  display: inline-block;
}

ul.dropdown {
  display: none;
  z-index: -1;
  position: relative;
}

@media(max-width: 720px){
  li.hamburger {
    display: flex;
    flex-direction: column;
  }

  li.side {
    display:none;
  }

  ul.drop {
    animation: drop 500ms;
    z-index: -1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  ul.dropdown li {
    margin-bottom: 5px;
  }
}

@keyframes drop{
  from {
    top: -126px;
  }
  to {
    top: 0;
  }
}
