body {
  margin: 0;
  padding: 0;
}

.containerContact {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

#contactTitle {
  width: 100%;
  text-align: center;
  color: #068dc2;
  font: 48px Abril Fatface;
  font-weight: normal;
  line-height: 56px;
  margin-block-end: auto;
}
#contactDesc {
  color: #59caef;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 60px;
}
#contactPersonal {
  font-family: Roboto;
  font-style: normal;
  font-weight: 1000;
  font-size: 24px;
  line-height: 28px;
}

.formArea {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
}

.formArea * {
  width: 40%;
}

#name,
#email,
#messages {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #068dc2;
  text-align: left;
}
#info1,
#info2 {
  height: 48px;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  border: 1px solid rgb(6, 141, 194);
}

#message {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  border-style: none;
}
#messagetext {
  width: 100%;
  height: 163px;
  font-size: 17px;
  padding: 0;
  border-color: #068dc2;
}
#submit {
  color: white;
  margin-bottom: 50px;
  height: 68px;
  width: 406px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #068dc2;
}

.containerMaps {
  background-color: #005484;
  padding-top: 50px;
  padding-bottom: 10px;
}

.maps {
  display: flex;
  justify-content: space-evenly;
}

.maps > * {
  width: 32%;
  height: 400px;
  frameborder: 0 style= "border:0;" allowfullscreen= "";
  margin-bottom: 15px;
}

#copyright {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #59caef;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .formArea {
    flex-direction: column;
  }

  .formArea * {
    width: 80%;
  }

  .maps {
    flex-direction: column;
    align-items: center;
  }

  .maps > * {
    width: 60%;
  }

  #contactTitle {
    width: 100%;
    text-align: center;
    color: #068dc2;
    font: 48px Roboto;
    font-weight: bold;
    line-height: 56px;
  }
  #contactDesc {
    color: #59caef;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .maps {
    align-items: center;
  }

  #info1, #info2 {
    padding: 0;
  }
}

@media screen and (max-width: 426px) {
  #contactTitle {
    font-size: 45px;
  }
  #info1,
  #info2 {
    width: 60%;
    height: 40px;
    width: 400px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }

  #message {
    float: right;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    border-style: none;
    margin-top: -190px;
  }

  #messagetext {
    width: 70%;
    font-size: 17px;
    border-color: #068dc2;
  }

  #userlogo {
    position: absolute;
    margin-top: 5px;
    margin-left: -40px;
  }
  #messagelogo {
    position: absolute;
    margin-left: -40px;
    margin-top: 123px;
  }
  #messageArea {
    float: right;
    margin-right: 100px;
    margin-top: -195px;
  }
  #contactPersonal {
    font-size: 20px;
  }

  #submit {
    width: 80%;
  }
  .flip-card,
  .flip-card-back,
  .flip-card-front,
  .flip-card-inner {
    width: 100%;
    height: 100%;
  }
  .flip-card-inner {
    box-shadow: none;
    margin-right: 0px;
  }
  .maps {
    align-items: right;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}
