section#text {
  width: 40%;
  margin-left: 15%;
  margin-top: 10%;
  display: inline-block;
  position: relative;
  z-index: 2;

  h1 {
    font-size: 50px;
    margin: 10px 0;
    font-family: "Abril Fatface";
    font-weight: normal;
  }

  p {
    margin-bottom: 40px;
  }

  button {
    width: 160px;
  }
}
